.the-spirit-of-inquiry-at-uc-santa-cruz
{
  .contributors > li:nth-child(6)
  {
    display: none;

  }

  .contributors > li > p
  {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }
}
