.row {
  @include outer-container;
  margin: .5em auto;
  max-width: 68em;
}

.one-fourth {
  @include span-columns(3);
}

.one-third {
  @include span-columns(4);
}

.one-half {
  @include span-columns(6);
}

.two-thirds {
  @include span-columns(8);
}

.three-fourths {
  @include span-columns(9);
}

.full {
  @include span-columns(12);
}

.block {
  padding: 1em;
}

.block-nopadding {
  padding: 1em 1em 0;
}

.one-fourth,
.one-third,
.one-half,
.two-thirds,
.three-fourths {
  @include media($mobile) {
    @include span-columns(4);
  }
}

.page-content {
  margin-bottom: 4em;
  width: 100%;
}
