--- 
layout: default 
class: post 
---

  <article class="post" id="#top">

    <header class="post-header">

        {% if page.banner.file %} {% assign header_type = 'has-image' %} {% img "{{ page.banner.file }}" magick:gravity:east magick:crop:1400x500+0+0 alt:"{{ page.banner.text | default: 'article banner' }}" %} {% endif %}

        <div class="post-title {{ header_type | default: 'no-image' }}">
{% include breadcrumbs.html %}
            <h1>{{ page.title }}</h1>
            {% if page.subhead %}
            <p>{{ page.subhead }}</p>
            {% endif %}

        </div>

    </header>


    <section class="post-content">

      {{content}}
      {%if page.related%}
      <div class="related-links">
      <h3>Related Links</h3>
      {%for link in page.related%}
      
      
        
        <ul class="">
          <li><a href="{{ link.url }}">{{link.title}}</a></li>
        </ul>
      
      {%endfor%}
      </div>
     {%endif%}      
     {%if page.further-inquiry%}
      <div class="related-links">
      <h3>Further Inquiry</h3>
      {%for link in page.further-inquiry%}
      
      
        
        <ul class="">
          <li><a href="{{ link.url }}">{{link.title}}</a></li>
        </ul>
      
      {%endfor%}
      </div>
     {%endif%}
     {%if page.in-the-news%}
      <div class="related-links">
      <h3>In the News</h3>
      {%for link in page.in-the-news%}
      
      
        
        <ul class="">
          <li><a href="{{ link.url }}">{{link.title}}</a></li>
        </ul>
      
      {%endfor%}
      </div>
     {%endif%}        
    </section>

    <footer class="post-footer">

        {% if page.author %}
        <section class="author">
            <div class="comment">
                <div class="comment-container">
                    {% if page.author.file %}
                    <div class="comment-image">
                        {{ page.author.file | img : "magick:resize:180 alt:'article author'" }}
                    </div>
                    {% endif %}
                    <div class="comment-content">
                        <ul class="flat-list">
                            {% if page.author.url %}
                            <li><span>Written by:</span> <a href="{{ page.author.url }}">{{ page.author.name }}</a></li>
                            <li><span>Published:</span> {{ page.issue }}</li>
                            {% else %}
                            <li><span>Written by:</span> {{ page.author.name }}</li>
                            <li><span>Published:</span> {{ page.issue }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {% endif %} {% include social-sharing.html %}

    </footer>
{% include back-to-top.html %}
</article>