---
layout: default
class: post
---

  <article class="post">

    <header class="post-header">
    
    {% if page.image %}
      <div class="post-image-image">
        {{ page.image.file | image : "magick:resize:>800" }}
        <div class="post-meta">
          <h1 class="post-title">{{ page.title }}</h1>
          {% if page.subhead %}
          <p class="post-excerpt">{{ page.subhead }}</p>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div>
        <div class="post-meta">
          <h1 class="post-title">{{ page.title }}</h1>
          {% if page.subhead %}
          <p class="post-excerpt">{{ page.subhead }}</p>
          {% endif %}
        </div>
      </div>        
    {% endif %}
    </header>


    <section class="post-content">

      {{content}}

    </section>

    <footer class="post-footer">

      <section class="share">
        {% for social in site.social %}
          {% if social.share_url != null %}
            <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
              onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
            <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </section>

      <section class="author">
        <h5 class="index-headline featured"><span>Written by</span></h5>
        <div class="comment">
          {% if page.author.file %}
          <div class="comment-image">
            {{ page.author.file | append:' [resize:150]' | alt:'Article author' | image }}
          </div>
          {% endif %}
          <div class="comment-content">
            <h1>{{ page.author.name }}</h1>
            <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
          </div>
        </div>
      </section>
    
    </footer>


  </article>

