.image-gradient-dynamic {
  $image-gradient-color-top: $brand-blue; 
  $transparency-top: 0.9;
  $image-gradient-color-bottom: #fff; 
  $transparency-bottom: 0.6;
  $vertical-angle: 180deg;
  $image-gradient-color-left: #fff; 
  $transparency-left: 0.8;
  $image-gradient-color-right: #fff; 
  $transparency-right: 0.8;
  $horizontal-angle: 90deg;
  
  line-height: 0;
  position: relative;
  width: 100%;

  img {
   height: auto;
   left: 0; 
   position: relative;
   top: 0;
   width: 100%;
  }

  .copy,
  .copy-homepage {
    @include transform(translate(-50%, -50%));
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    z-index: 999;

    p {
      border-radius: .5em;
      color: $white;
      display: block;
      font-size: 1.25em;
      line-height: 1.5em;
      padding: .25em 1.5em 0;
      position: relative;

      @include media($tablet) {
        padding: .25em 1.5em .5em;
      }
    }
  }
  
  .copy {
    top: 85%;

    @include media($tablet) {
      position: relative;
    }
  }

  .copy-homepage {
    top: 50%;
  }

  .copy {

    @include media($tablet) {

      @include transform(translate(0, 0));
      left: 0;
      position: none;
      top: 0;
      width: 100%;
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);
    opacity: 0.25;

    &:after {
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      @include position(absolute, 0px 0px 0px 0px);
      content: '';
      display: block;
    }
  }
}
