.footer {
  $base-spacing: 1.5em !default;
  $footer-background: desaturate(darken($dark-blue, 20%), 30%);
  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  hr {
    border: 1px solid transparentize($white, .6);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $light-gray;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5em;
    margin: auto;
    max-width: 50em;
    text-align: center;
  }
}
