---
layout: default
class: front
title: Inquiry @ UC Santa Cruz
banner:
  file: 2015/cover-photo-banner.jpg
  text: "Illustration: A gamma ray burst of a galaxy by Keat Leong"
current: 2015-16
---

<div class="row">

  <section class="two-thirds block">
    
    <p class="toc-nav"><a href="/{{ page.current }}/welcome/">Welcome</a></p>
    <p class="toc-nav"><a href="/{{ page.current }}/briefs/">Brief <span class="heavy">Inquiries</span></a></p>

    <h2 class="header highlight">Features</h2>
    <div class="features">
    
      <ul class="toc-list">

      {% assign sorted_articles = (site.articles | where: 'issue','2015' | sort: 'order') %}
      {% for post in sorted_articles %}
        
        {% if post.category == 'feature' %}
            <li>
              <h3>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h3>
              <p class="teaser">{{ post.subhead }}</p>
              <p class="author">By {{ post.author.name }}</p>
            </li>
        {% endif %}

      {% endfor %}
      </ul>        

    </div>      

      <p class="toc-nav">Pen <span class="heavy">&amp;</span> Inq</p>
      <p class="toc-nav"><a href="/{{ page.current }}/contributors/">Inquiring <span class="heavy">Minds</span></a></p>

  </section>

  <section class="one-third block">
      
      <h3 class="index-headline featured">Download the PDF</h3>
      <a href="/{{ page.current }}/inquiry-2015.pdf">{% image '2015/inquiry-cover.jpg' magick:resize:380 alt:'2016 cover of Inquiry Magazine' %}</a>
  </section>

</div>
