<div class="omnibar">
  <a href="http://www.ucsc.edu">UC Santa Cruz</a>
</div>

<header class="site-header" role="banner">

  <div class="logo-wrapper">
    <a href="/" class="logo">
      {% image 'inquiry.svg' alt:'Inquiry at UC Santa Cruz' width:'400' %}
    </a>
  </div>

  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/">Latest Issue</a></li>
        <li class="nav-link"><a href="/archives">Archives</a></li>
        <li class="nav-link"><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>

</header>
<!-- header end -->

{% if page.class == 'front' %}
<div class="image-gradient-dynamic">
  {% img "{{ page.banner.file }}" magick:gravity:northeast magick:crop:1440x720+0+0 alt:"{{ page.banner.text }}" %}
  <div class="overlay"></div>
  <div class="copy-homepage">
    <p>{{ page.current }}</p>
  </div>
</div>
{% endif %}



