<!-- header start -->
<header class="navigation" role="banner">


<div class="banner-logo" style="background-image: url({{ site.cover  | asset_path }}); background-position:right center; background-size:cover; background-repeat:no-repeat;">

  <div class="logo-box">
    <a href="/" class="logo">
      {% image 'inquiry.svg' %}
    </a>
  </div>
  
</div>

<div class="navigation-wrapper">
  <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
  <nav role="navigation">
    <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="javascript:void(0)">Latest Issue</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Articles</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Contact Us</a></li>
      <!-- <li class="nav-link more"><a href="javascript:void(0)">More</a>
        <ul class="submenu">
          <li><a href="javascript:void(0)">Submenu Item</a></li>
          <li><a href="javascript:void(0)">Another Item</a></li>
          <li class="more"><a href="javascript:void(0)">Item with submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
              <li><a href="javascript:void(0)">Another Item</a></li>
            </ul>
          </li>
          <li class="more"><a href="javascript:void(0)">Another submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu</a></li>
              <li><a href="javascript:void(0)">An Item</a></li>
            </ul>
          </li>
        </ul>
      </li> -->
    </ul>
  </nav>
  <div class="navigation-tools">
    <div class="search-bar">
      <form role="search">
        <input type="search" placeholder="Enter Search" />
        <button type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </form>
    </div>
  </div>
</div>
</header>





<!-- <header class="banner" role="banner"  style="background-image: url({{ site.cover  | asset_path }}); background-position:right center; background-size:cover; background-repeat:no-repeat;">

<div class="content">
  <a href="{{ site.url }}" class="logo-readium"><span class="logo" style="background-image: url({{ site.logo | asset_path }})"></span></a>  
</div>

</header> -->

<!-- header end -->
