<!-- header start -->
<header class="navigation" role="banner">

<div class="navigation-wrapper">

  {% if page.url != '/index.html' %}
    <a href="/" class="logo">
      {% image 'inquiry.svg' %}
    </a>
  {% endif %}

  <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
  
  <nav role="navigation">
    <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="javascript:void(0)">Latest Issue</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Articles</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Contact Us</a></li>
    </ul>
  </nav>
  
  <div class="navigation-tools">
    <div class="search-bar">
      <form role="search">
        <input type="search" placeholder="Enter Search" />
        <button type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </form>
    </div>
  </div>
</div>

{% comment %}
  Banner on the homepage only
{% endcomment %}
{% if page.url == '/index.html' %}
<div class="image-gradient-dynamic">
  {{ "2015/cover-photo-banner.jpg" | image }}
  <div class="overlay"></div>
  <div class="copy">
    <a href="/">
      {% image 'inquiry.svg' %}
    </a>
  </div>
</div>
{% endif %}

</header>

<!-- header end -->
