{% if page.url != '/search.html' %}                                                                                               
<script type="text/javascript" src="/js/search.min.js" charset="utf-8"></script>                                                              
{% else %}                                                                                                                                                                     
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>                    
{% endif %}   
<script type="text/javascript" src="{% asset_path jquery.fitvids.js %}"></script>
<script type="text/javascript" src="{% asset_path index.js %}"></script>
<script type="text/javascript" src="{% asset_path readingTime.min.js %}"></script>
<script>
(function ($) {
  "use strict";
  $(document).ready(function(){

    var $window = $(window),
    $image = $('.post-image-image');
    
      $window.on('scroll', function() {
        var top = $window.scrollTop();

        if (top < 0 || top > 1200) { return; }
        $image
          .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
          .css('opacity', 1-Math.max(top/400, 0));
      });
      $window.trigger('scroll');

      var height = $('.post-image-image').height();
      $('.post-content').css('margin-top', height/3*-1 + 'px');

      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
         && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({ scrollTop: target.offset().top }, 500);
            return false;
          }
        }
      });

  });
}(jQuery));
</script>

 <!-- SEARCH -->
<script type="text/javascript" src="/js/lunr.min.js" charset="utf-8"></script>

<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '/js/index.json',   // Url for the .json file containing search index data
      results : '#search-results',  // selector for containing search results element
      entries : '.entries',         // selector for search entries containing element (contained within results above)
      template: '#search-results-template'  // selector for Mustache.js template
    });
  });
</script>

<!-- END SEARCH -->