<style>
    .fish-guide {
        background-color: #abd9e8;
        padding: 1em;
    }

    .fish-guide h3 {
        text-align: center;
        color: inherit;
    }

    .fish-guide figure {
        margin: 0 auto;
    }

    .fish-guide .fish-guide-link,
    .fish-guide .fish-guide-link:hover,
    .fish-guide .fish-guide-link:visited {
        text-decoration: none;
        color: inherit;
    }
</style>

<div class="fish-guide">
    <a class="fish-guide-link" href="/2020-21/mercury-levels-table.png">
        <h3>Mercury Levels in Fish: A Guide to Healthy Seafood Consumption (1 serving = 4 oz.)</h3>
        <figure class="" style="width:600px;">
            {% asset 2020/mercury-levels-table.png @magick:resize=600 alt:'Table: Mercury Levels in Fish' title: 'Printable image'%}
            <figcaption>Source: Natural Resources Defense Council. NRDC used the reference dose considered safe by the EPA
and seafood mercury concentrations from the USDA. Servings are based on the weight of an average
woman of child-bearing age (130 lbs.).</figcaption>
        </figure>
    </a>
</div>
