<style>
    .fish-guide {
        background-color: #abd9e8;
        padding: 1em;
    }
    
    .fish-guide h3 {
        text-align: center;
        color: inherit;
    }
    
    .fish-guide figure {
        margin: 0 auto;
    }
    
    .fish-guide .fish-guide-link,
    .fish-guide .fish-guide-link:hover,
    .fish-guide .fish-guide-link:visited {
        text-decoration: none;
        color: inherit;
    }
</style>

<div class="fish-guide">
    <a class="fish-guide-link" href="/2020-21/mercury-levels-table.png">
        <h3>Mercury Levels in Fish: A Guide to Healthy Seafood Consumption (1 serving = 4 oz.)</h3>
        <figure class="" style="width:600px;">
            {% asset 2020/mercury-levels-table.png @magick:resize=600 alt:'Table: Mercury Levels in Fish' title: 'Printable image'%}
            <figcaption>Looks good, but perhaps you shouldn&#39;t eat it too often; some types of tuna contain potentially concerning levels of mercury that end up in you. Credit: <a href="https://www.goodfreephotos.com/food/tuna-fish-sushi-on-a-plate.jpg.php">public
  domain</a> (CC0).
            </figcaption>
        </figure>
    </a>
</div>