//Nav bar styling
.navigation-wrapper {
  background-color: $white;
  margin: 0;
  padding: 0;
  z-index: 900;

  ul,
  li {
    list-style: none;
  }
}

.nav-items {
  padding: 0;
  text-align: center;
}

// Navigation menu
.nav-item {
  color: $brand-blue;
  display: inline;
  font-weight: 600;
  padding: 1em;

  a {
    text-decoration: none;
  }
}

// Dropdown menu
.nav-item-dropdown {
  position: relative;

  &:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
}

.dropdown-trigger {
  cursor: pointer;
  position: relative;

  &:focus + .dropdown-menu {
    display: block;
    opacity: 1;
  }

  &::after {
    color: $brand-blue;
    content: '›';
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: -18px;
    top: -6px;
    transform: rotate(90deg);
  }
}

.dropdown-menu {
  background-color: $white;
  border: 1px solid $light-gray;
  display: none;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: -55%;
  text-align: right;
  top: 2.8rem;
  transition: opacity .5s ease;
  width: 12em;
}

.dropdown-menu-item {
  cursor: pointer;
  padding: 0;
  text-align: center;
  width: 100%;

  a {
    display: block;
    padding: .5em 1em;
    width: 100%;
  }

  a:hover {
    background-color: $brand-blue;
    color: $white;
  }
}

//Breadcrumbs
.breadcrumbs {
  font-size: .8em;
  width: 100%;

  a {
    color: $light-blue;
    text-decoration: none;
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    display: inline;
    list-style-type: none;
  }
}

//Back to top button
.topbutton {
  background-repeat: no-repeat;
  bottom: 30px;
  display: none;
  height: 50px;
  position: fixed;
  right: 15px;
  width: 50px;
  z-index: 99999;

  .fa {
    background-color: $brand-gold;
    color: $white;
    padding: 0 5px 5px;
}
}
