//Nav bar styling
.navigation-wrapper {
  background-color: $white;
  margin: 0;
  padding: 0;
  z-index: 900;
}

ul,
li {
  list-style: none;
}

// Navigation menu
.nav-item {
  display: inline;
  font-weight: 600;
  padding: 1em;
  text-decoration: none;
}

// Dropdown menu
.nav-item-dropdown {
  position: relative;

  &:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
}

.dropdown-trigger {
  position: relative;

  &:focus + .dropdown-menu {
    display: block;
    opacity: 1;
  }

  &::after {
    color: $brand-blue;
    content: '›';
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: -18px;
    top: -6px;
    transform: rotate(90deg);
  }
}

.dropdown-menu {
  background-color: $white;
  display: none;
  opacity: 0;
  position: absolute;
  right: -1em;
  text-align: right;
  top: 2.5rem;
  transition: opacity .5s ease;
  width: 8em;
}

.dropdown-menu-item {
  cursor: pointer;
  padding: 1em;
  text-align: center;

  &:hover {
    background-color: $brand-blue;
  }
}
