.front.banner-wrapper {
  position: relative;

  img {
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
  }
}

.issue-title {
  bottom: 0;
  color: $trans-white;
  font-size: 4em;
  font-weight: 600;
  left: 1.8rem;
  line-height: .75em;
  position: absolute;
}
