.front.banner-wrapper {
  position: relative;

  img {
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
  }
}

.issue-title {
  bottom: 0;
  color: $trans-white;
  font-size: 4em;
  font-weight: 600;
  left: 1.8rem;
  line-height: .75em;
  position: absolute;
}

.pen-inq figure {  
  float: right;
  margin: 0 0 1em 1em;
  max-width: 180px;

  img {
    box-shadow: 8px 8px 6px $light-gray;
  }
}
