.front.banner-wrapper {
  position: relative;

  img {
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
  }
}

.issue-title {
  border-bottom: 1px solid $orange;
  color: $orange;
  font-size: 1.8em;
  font-weight: 400;
  line-height: .75em;
  margin: 0;
  padding-bottom: .15em;
}

.pen-inq figure {
  float: right;
  margin: 0 0 1em 1em;
  max-width: 180px;

  img {
    box-shadow: 8px 8px 6px $light-gray;
  }
}
