.post-title,
.post-content,
.post-footer {
  margin: 0 auto;
  max-width: 38em + em($rs) * 2;
  padding: 0 $rs * 2;

  @include media($mobile) {
    padding: 0 $rs * 1.25;
  }
}


.post-header {

  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
    z-index: -900;
  }

}


.post-title {

  margin: 3em auto 2em;

  @include media($tablet) {
    margin: 1em auto 1.5em;
  }

  h1 {
    font-size: 3.25em;
    margin: .10rem;
  }

  p {
    font-size: 1.25em;
    margin: .15em 0;
  }
}

.post-content {

  img {
    @include media($mobile) {
      @include span-columns(7);
      margin: 0 auto 1em;
    }
  }
}

.contributors-container {

  @include span-columns(12);
  margin: 0;
  padding: 0;
  text-align: left;

  li {
    @include span-columns(3);
    line-height: .76em;
    margin: 0 .75em 1em 0;

    @include media($tablet) {
      width: 47%;
    }

    img {
      display: block;
      width: 100%;
    }

    span {

      @include span-columns(12);
      background: $dark-blue;
      color: $white;
      font-size: 80%;
      padding: .5em;
      text-align: center;
    }
  }
}

.author {
  margin: 2em 0;
  padding: 1em 0 0;
  text-align: center;
}
