.post-header {

  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
    z-index: -900;
  }

}

.copy {
  position: absolute;
  top: 10%;
  width: 90%;

  .post-title {
    margin: 0 0 1em;
    text-shadow: 0 0 2px rgba($white, .35);

    @include media($mobile) {
      margin: 1em 0;
    }
  }

  .post-excerpt:only-child {

    @include span-columns(4);
    background: rgba($white, .8);
    border-radius: .5em;
    color: $brand-blue;
    float: none;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 1em 2em;
    position: relative;
  }
}

.post .post-content {

  padding: 0 $rs * 2;
  z-index: 1000;

  @include media($mobile) {
    padding: 0 $rs * 1.25;
  }

  h1 {
    color: $orange;
  }

  img {

    @include media($mobile) {
      @include span-columns(7);
      margin: 0 auto 1em;
    }

  }
}

.post-meta,
.post-content,
.post-footer {
  margin: 0 auto;
  max-width: 45em + em($rs) * 2;
}
