.post-header {

	position: relative;

	img {
		width: 100%;
		height: auto;
		display: block;
		z-index: -900;
	}

}

.post-meta {

	top: 10%;
	right: 20%;
	width: 60%;
	position: absolute;

	h1 {
		margin: 0;
	}

}

.post-content {

	background-color: #fff;
	z-index: 1000;

	:first-child {
		font-size: 1.2em;
		font-weight: 400;

	}
}

.post-meta,
.post-content,
.post-footer {
  max-width: 34em;
  margin: 0 auto
}