.site-header {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .75em 1em;
  width: 100%;

  @include media($tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.logo-wrapper {
  .logo {
    display: inline-block;
    padding: 0;

    img {
      max-height: 100px;
    }
  }
}

.navigation-wrapper {
  li {
    display: inline-block;
    margin-left: 1.8em;
  }

  .navigation-menu-button {
    display: none;
  }
}
