.sharing-container {
  display: block;
  padding: .5em 0 1.25em;
  text-align: center;
  width: 100%;

  .container {
    display: inline-block;
    margin: 0 auto;
    max-width: 360px;
    text-align: center;
    width: auto;
  }

  span {
    color: $brand-blue;
    float: left;
    padding-right: .5em;
  }
}

.twitter,
.twitter:active {
  background: url('/assets/twitter.svg') no-repeat 0 0;
}

.facebook,
.facebook:active {
  background: url('/assets/facebook.svg') no-repeat 0 0;
}

.google,
.google:active {
  background: url('/assets/google.svg') no-repeat 0 0;
}

.linkedin,
.linkedin:active {
  background: url('/assets/linkedin.svg') no-repeat 0 0;
  margin-right: .6em;
}

.twitter,
.twitter:active,
.facebook,
.facebook:active,
.google,
.google:active,
.linkedin,
.linkedin:active {
  background-size: 46px;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 23px;
  margin-right: 1em;
  width: 23px;
}

.twitter:hover,
.facebook:hover,
.google:hover,
.linkedin:hover {
  background-position: -23px 0;
}

.twitter span,
.facebook span,
.google span,
.linkedin span {
  position: absolute;
  top: -999em;
}

