.header-container {
  background: $brand-blue;
  display: block;
  padding: .75em 0 .5em;
  width: 100%;
}

.super-header {

  @include outer-container;
  padding: 0 .5em;

  .logo {
    float: left;
    padding: 0 1em 0 0;

    &.ucsc-home {
      float: left;
      padding-top: 0;
    }

    &.ucsc {
      float: right;
      padding: .5em 0 0;

      @include media($tablet) {
        padding: 0;
      }
    }

    img {
      max-height: 80px;

      @include media($tablet) {
        max-height: 50px;
      }
    }
  }

}
