$mobile: new-breakpoint(max-width 600px 4);
$tablet: new-breakpoint(max-width 800px 4);

$rs: 16px;
$font-serif: Linux Libertine;
$font-sans: "Helvetica Neue", Arial, Helvetica, sans-serif;

// 2015 color palette
$light-gray: #BCC1C2;
$light-blue: #3AB9D9;
$dark-blue: #005C9F;
$green: #AFC930;
$orange: #E37526;
$gold: #F7C902;