.comment {
  $base-border-radius: 100% !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $comment-gutter: 1.4em;
  $comment-color: $base-font-color;
  $comment-background: lighten($action-color, 15%);
  $comment-detail-color: transparentize($comment-color, 0.5);
  $comment-image-vert-alignment: top;

  display: table;
  margin-bottom: $base-spacing;
  padding-bottom: 1em;
  width: 100%;

  .comment-container {
    display: block;
    margin: 0 auto;
    max-width: 550px;
  }

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .comment-image {
    padding-right: $comment-gutter;

    > img {
      background: $comment-background;
      border-radius: $base-border-radius;
      display: inline-block;
      height: auto;
      margin-left: 2em;
      max-width: 175px;

      @include media($mobile) {
        max-width: 100px;
      }
    }

    .comment-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .comment-content {
    width: 100%;
    text-align: left;
    vertical-align: middle;

    h1 {
      font-size: 1em;
      margin: 0 0 0.5em 0;

      @include media($tablet) {
        font-size: .75em;
      }
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    p.published {
      color: $dark-gray;
      font-size: .75em;
    }

    p.comment-detail {
      color: $comment-detail-color;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}
