---
layout: home
---



<div class="row">
<section class="full block">
  {% assign sorted_articles = (site.categories.feature | sort: 'order') %}
  {% for post in sorted_articles %}
    <div class="side-image">
      {% if post.image.file %}
      <div class="images-wrapper" style="background-image:url('{{ post.image.file | append:' [resize:>350x400]' | asset_path }}'); background-position:top;">
      </div>
      {% endif %}
        <div class="side-image-content">
          <h2>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.subhead }}</p>
        </div>
    </div>
  {% endfor %}

</section>
</div>
