---
layout: home
---

<section>

  <h1>Features</h1>  
    <ul class="toc">
    {% assign sorted_articles = (site.posts | sort: 'order') %}
    {% for post in sorted_articles %}
      {% if post.section == 'feature' %}  
        <li class="teaser">
          <div class="teaser__body">
            <h2>        
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>
            <p class="description">{{ post.subhead }}</p>
          </div>
          {% if post.image.file %}
            <div class="teaser__image">
              {{ post.image.file | append:' [resize:>120x120]' | image }}
            </div>
          {% endif %}
        </li>
      {% endif %}  
    {% endfor %}    
    </ul>
  
</section>

<!-- <section>

  <h1>Briefs</h1>  
    <ul class="toc">
    {% for post in site.posts %}
      {% if post.section == 'brief' %}  
        <li>
          <span>        
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </span>
        </li>
      {% endif %}  
    {% endfor %}    
    </ul>

</section>   -->