---
layout: home
---

<div class="row">
  <section class="full block">
    <h1>Leading research influence</h1>
    <div class="columns-2">
<p><b>UC Santa Cruz ranked first in research influence</b> among the world's top universities, according to the World University Rankings, published annually by Times Higher Education (THE).</p>

<p>"This placing should come as no surprise to anyone familiar with UCSC," said Scott Brandt, vice chancellor for research. "That is an accurate reflection of the world-class research that takes place across our campus. UCSC is too small to be best at everything, but it is big enough to be best at everything we choose to do. That is as true of our research--as reflected in THE rankings--as it is of the educational opportunities that we provide to our students."</p>

<p>Slugs earned the top slot with a citation score of 100, tying for first place with MIT, and edging out Rice University at 99.9. The score is based on counting the average number of times publications by UCSC researchers were cited.</p>
    </div>
  </section>
</div>



<div class="row">
<section class="two-thirds block">
  <h1 class="index-headline featured">Features</h1>
    <div class="container featured">
    {% assign sorted_articles = (site.categories.feature | sort: 'order') %}
    {% for post in sorted_articles %}
        <article class="teaser">
          <div class="teaser__body">
            <h2>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>
            <p class="description">{{ post.subhead }}</p>
          </div>
          {% if post.image.file %}
            <div class="teaser__image">
              {{ post.image.file | append:' [resize:>120x120]' | image }}
            </div>
          {% endif %}
        </article>
    {% endfor %}
    </div>
</section>

<section class="one-third block">

  <h1 class="index-headline featured">Additional contents</h1>
  <ul>
    <li><a href="/2015/opener.html">Welcome</a></li>
    <li><a href="/2015/briefs/">Brief Inquiries</a></li>
    <li><a href="/2015/opener.html">Pen &amp; Inq</a></li>
    <li><a href="/2015/opener.html">Inquiring Minds</a></li>
  </ul>



  <h1 class="index-headline featured">Download the PDF</h1>
  <a href="#pdf">{% image '2015/inquiry-cover.jpg' [resize:380] %}</a>

</section>

</div>
